.transaction-history {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transaction-history th,
  .transaction-history td {
    padding: 8px;
    border: 1px solid #cccccc;
  }
  
  .transaction-history th {
    background-color: #f2f2f2;
  }
  
  .transaction-history tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .transaction-history tbody tr:hover {
    background-color: #e6e6e6;
  }
  